<header class="py-5 bg-light border-bottom mb-4">
    <div class="container">
        <div class="text-center">
            <h1 class="fw-bolder">Problems</h1>
            <p class="lead mb-0">Some cool problems I came up with. Give them a try.</p>
        </div>
    </div>
</header>
<div class="container" style="max-width: 50%;">
    <div *ngIf="problems">
        <div class="list-group">
            <div *ngFor="let problem of problems">
                <a routerLink="/problems/{{problem.id}}" class="list-group-item list-group-item-action">{{problem.title}}</a>
            </div>
        </div>
    </div>
</div>
