<header class="py-5 bg-light border-bottom mb-4">
    <div class="container">
        <div class="text-center">
            <h1 class="fw-bolder">Articles</h1>
            <p class="lead mb-0">Research and other stuff.</p>
        </div>
    </div>
</header>

<div *ngIf="articles" class="container">
    <div *ngFor="let article of articles; let first=first" class="row">
        <div *ngIf="!first">
            <hr>
        </div>
        <div class="col-md-3">
            <div class="text-center">
                <div *ngIf="article.path.split('.', 2)[1] === 'md'; else elseBlock">
                    <h4><a routerLink="/articles/{{article.id}}">{{article.title}}</a></h4>  
                </div>
                <ng-template #elseBlock>
                    <h4><a href="{{article.path}}">{{article.title}}</a></h4>  
                </ng-template>
            </div>
        </div>
        <div class="col-md-9">
            <p>{{article.desc}}</p>
        </div>  
    </div>
</div>
