<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Kevin Moy</a>
    <a href="#notes">Projects</a>
    <a href="#notes">Notes</a>
    <a href="#about">About</a>
</nav> -->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark"> 
    <div class="container">
      <a class="navbar-brand" href="#">Kevin Moy</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/problems">Problems</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/articles">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about">About Me</a>
          </li>
        </ul>
      </div>
    </div>
</nav>