<app-top-navbar></app-top-navbar>
<router-outlet></router-outlet> 
<footer class="footer">
    <div class="container">
        <span class="text-muted mr-auto">&copy; Kevin Moy 2022</span>
        <span class="github mx-4">
            <a href="https://github.com/kmoy1">
                <i class="bi bi-github"></i>
            </a>
        </span>
        <span class="linkedin mx-4">
            <a href="https://www.linkedin.com/in/kmoy/">
                <i class="bi bi-linkedin"></i>
            </a>
        </span>
        <span class="resume mx-4">
            <a href="/assets/resume2022.pdf">
                <i class="bi bi-file-person"></i>
            </a>
        </span>
    </div>
</footer>


