<div class="container">
  <div>
    <h1>Test API Call</h1>
    <input [(ngModel)]="inputData" placeholder="Enter some text" />
    <button (click)="onSubmit()">Submit</button>

    <div *ngIf="responseData">
      <h3>API Response</h3>
      <pre>{{ responseData | json }}</pre>
    </div>

    <div *ngIf="errorMessage">
      <p style="color: red;">{{ errorMessage }}</p>
    </div>
  </div>
    <!-- <ngx-math-md [src]=mdPath></ngx-math-md> -->
    <!-- <ngx-ipynb [src]=htmlPath></ngx-ipynb> -->
</div>

